body{
  background-color: #F5F4F5;
}
.hero{
  margin: 0;
  background-image: url("./assets/background.jpeg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}