@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Inter;
    letter-spacing: -0.025em;
}
/* reusable fade-in animation */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
